[Unit]
Description=Dispenser.front Electron + Express App
After=graphical.target

[Service]
Type=simple
User=infomedia
Environment=NODE_ENV=production
Environment=PORT=5500
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/infomedia/.Xauthority
WorkingDirectory=/usr/local/device/nodejs/dispenser.front
ExecStart=/usr/local/device/services/dispenser.front/aplication.sh
Restart=always

[Install]
WantedBy=graphical.target
