  GNU nano 7.2                                     dispenser.front.service                                              [Unit]
Description=Dispenser.front Node.js App
After=graphical.target

[Service]
Type=simple
User=infomedia
Environment=NODE_ENV=production
Environment=PORT=5500
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/infomedia/.Xauthority
WorkingDirectory=/usr/local/device/services/dispenser.front
ExecStartPre=/usr/bin/xrandr --output HDMI-1 --rotate left
ExecStart=/usr/local/device/services/dispenser.front/aplication.sh
Restart=always

[Install]
WantedBy=graphical.target